<header>
    <h2>{{shop.name}}</h2>
    <h2><a href="/cart">Cart</a>
</header>

{% include 'menu' %}

{% schema %}
    {
        "name" : "Main Menu",
        "settings": [
            {
                "type": "link_list",
                "id": "main_linklist",
                "label": "Menu",
                "default": "main-menu"
            }
        ]
    }
{% endschema %}